<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <ul class="left">
      <li>{{#link-to 'users'}}Recommendations{{/link-to}}</li>
      <li>{{#link-to 'matches'}}Matches{{/link-to}}</li>
    </ul>
  </section>
</nav>

{{outlet}}
