<div class="row">
  <div class="medium-6 columns">
    <h3>{{currentUser.name}}</h3>
  </div>

  <div class="medium-6 columns clearfix">
    <ul class="button-group round right">
      <li><button {{action 'pass'}} class="button small radius">Pass</button></li>
      <li><button {{action 'like'}} class="button small radius">Like</button></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="medium-4 columns picture">
    asd
  </div>
  <div class="medium-4 columns picture">
    asd
  </div>
  <div class="medium-4 columns picture">
    asd
  </div>
</div>
<div class="row">
  <div class="medium-4 columns picture">
    asd
  </div>
  <div class="medium-4 columns picture">
    asd
  </div>
  <div class="medium-4 columns picture">
    asd
  </div>
</div>

{{outlet}}